<div class="container mx-auto">
  <div id="venafiintegrations_hype_container" class="HYPE_document" style="margin:auto;position:relative;width:500;height:650px;overflow:hidden;">
    <script type="text/javascript" charset="utf-8" src="{{ animation_script }}"></script>
  </div>
</div>